---
import ThemeToggle from "./ThemeToggle.astro";
import logo from "../assets/logo.png";
import { Image } from "astro:assets";
const { title = "El Bar Secreto" } = Astro.props;
---

<header
  class="sticky top-0 z-10 rounded-lg shadow-md bg-background dark: bg-background-dark text-text-primary font-body"
>
  <div class="container flex items-center justify-between px-4 py-6 mx-auto">
    <!-- Logo y Título -->
    <div class="flex items-center space-x-4">
      <Image
        src={logo}
        alt="Logo del bar"
        class="w-12 h-12"
        loading={"eager"}
      />
      <h1 class="text-2xl font-bold text-primary font-heading">{title}</h1>
    </div>

    <!-- Dirección y Teléfono -->
    <div
      class="flex flex-col items-center mt-4 space-y-2 md:flex-row md:space-y-0 md:space-x-6 md:mt-0 text-secondary"
    >
      <div class="flex items-center space-x-2">
        <svg
          class="w-5 h-5 text-primary"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.828 0l-4.243-4.243a8 8 0 1111.314 0z"
          ></path>
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
        </svg>
        <a
          href="https://maps.app.goo.gl/DWhpfU1qDi7imN2U6"
          target="_blank"
          class="font-body">Av. Principal 123, Ciudad</a
        >
      </div>
      <div class="flex items-center space-x-2">
        <svg
          class="w-5 h-5 text-primary"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"
          ></path>
        </svg>
        <a
          href="https://wa.me/+1234567890"
          target="_blank"
          class="hover:text-primary font-body">+1 234 567 890</a
        >
      </div>
    </div>

    <!-- Toggle de Tema (usando el componente existente) -->
    <div class="flex items-center space-x-2">
      <ThemeToggle />
      <span id="theme-text" class="text-sm text-secondary font-body"></span>
    </div>
  </div>
</header>

<script>
  const themeText = document.getElementById("theme-text");
  const toggleButton = document.getElementById("theme-toggle");

  if (themeText && toggleButton) {
    const updateThemeText = () => {
      const isDark = document.documentElement.classList.contains("dark");
      themeText.textContent = isDark ? "Modo Oscuro" : "Modo Claro";
    };

    // Actualiza el texto al cargar la página
    document.addEventListener("DOMContentLoaded", updateThemeText);

    // Actualiza el texto al hacer clic en el botón
    toggleButton.addEventListener("click", updateThemeText);
  }
</script>
